* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: sans-serif;
}

.iframe-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}